<h2>
  Ми піднімаємо замовлення їжі на
  <span class="text-decor">новий рівень!</span>
  <span>
              <span class="text-decor text-decor--mobile">новий</span>
              <span class="text-decor text-decor--mobile text-decor--mobile-2"
              >рівень!</span
              >
            </span>
</h2>
<div class="promo__wrapper">
  <div class="promo__inner">
    <p>
      Насолоджуйся найсмачнішими стравами зi свого улюбленого закладу,
      а все інше - залиш нам
    </p>
    <p>
      Наш штучний інтелект пропонує замовлення в один клік, за вашими
      вподобаннями
    </p>
  </div>
  <div class="promo__slogan">
    <div class="blob-wrapper">
      <div class="blob"></div>
    </div>
    <p class="slogan">
      Відкрий для себе новий світ без проблем з вибором їжі та
      доставкою!
    </p>
  </div>
</div>
