<div class="meal">
  <img class="meal__img" src="../../../assets/images/meals/burger.jpg" alt="burger" />
  <p class="meal__restaurant">Ресторан</p>
  <h3 class="meal__title">Бургер крутий</h3>
  <p class="meal__descr">
    Булочка солодова, овочі гриль (цукіні, баклажан, червона цибуля, болгарський перець), Моцарела, соус BBQ, салат Бостон, свіжі томати. Подається з картопляними діпами та салатом, але, на жаль, тимчасово без додаткових соусів
  </p>
  <div class="meal__footer">
    <p class="meal__price">12 ₴</p>
    <button class="meal__btn">
            <span class="icon-Button">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
    </button>
  </div>
  <div class="meal__delivery">50₴</div>
</div>
