<div class="office">
    <div class="office-tabs">
        <div class="office-top">
            <div class="office-user">Привіт, Юля</div>
            <div class="tabs">
                <ul>
                    <li>
                        <a href="#">
                            <svg width="32" height="32" class="tabs-icon" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="16" cy="12" r="6" />
                                <path
                                    d="M24.2612 24.5H7.73884C8.60386 21.7965 11.7473 19.5 16 19.5C20.2527 19.5 23.3961 21.7965 24.2612 24.5Z"
                                    stroke-width="3" stroke-linecap="round" />
                            </svg>
                            Тут інформація
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="account-exit">
            Вийти
        </div>
    </div>
    <div class="office-content">
        Content
    </div>
</div>